body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: lemonchiffon;
    color: #481F01;
}

h1 {
    background-color: #481F01;
    color: lemonchiffon;
    text-align: center;
}

p,
.description {
    text-align: center;
}

img {
    height: auto;
    width: 500px;
    margin: auto;
    display: block;
}

.lemonbars {
    height: auto;
    width: 600px;
}